@model StudentCrudApp.Models.Student

<h2>Student Details</h2>

Id: @Model.Id <br />
Name: @Model.Name <br />
Department: @Model.Department <br />
Year: @Model.Year <br />
Marks: @Model.Marks <br />

<a href="/Student">Back</a>